<div class="modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" style="display: block; background-color: rgba(0, 0, 0, 0.6);">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border-0 bg-transparent">

            <div class="d-flex flex-column justify-content-center align-items-center align-content-center" style="height: 100%;">
                <div class="spinner-border text-warning" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
                <h3 class="mt-3 text-white">Loading...</h3>
            </div>

        </div>
    </div>
</div>
