<div class="card text-white bg-dark mb-3" >
<div class="container">
    <h1 class="text-align: center">Members List</h1>
    <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="text" class="form-control" name="filterListas" placeholder="search..." [(ngModel)]="filterListas">
            </div>
        </div>
    </div>
</div>
</div>

<div class="card text-white">
<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>House</th>
                    <th>Blond</th>
                    <th>Alive</th>
                    <th>Gender</th>
                    <th>Date Of Birth</th>
                    <th>Patronus</th>
                    <th>Actor/Actress</th>
                </tr>
            </thead>
            <tbody>

                <!-- Cambiando el comentario por el *ngFor de abajo se cambiará el pipe de evaluación-->
              <!--<tr *ngFor="let listas of lista | filter:filterListas">-->
                <tr *ngFor="let listas of lista | pipes:filterListas">  
                    <td>{{listas.name}}</td>
                    <td>{{listas.house}}</td>
                    <td>{{listas.ancestry}}</td>
                    <td>{{listas.alive}}</td>
                    <td>{{listas.gender}}</td>
                    <td>{{listas.dateOfBirth}}</td>
                    <td>{{listas.patronus}}</td>
                    <td>{{listas.actor}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>